*{
    margin: 0%;
    padding: 0%;
    
}
@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@600 & display=swap');

html{
    font-family: 'Poppins', sans-serif;
}
.header{
    background: rgb(46,47,91);
background: linear-gradient(94deg, rgba(46,47,91,1) 52%, rgba(80,85,129,1) 100%);
    max-width: 100vw;
}
body{
    background-color: #FAF0Ca;
    height: 100vh;
    width: 100vw;
    
}
.logo{
    overflow: visible;
    padding-bottom: 30px;
    
}

.logo img{
        width: 95px;
        height: 79px;
        padding-top: -56px;
        padding-left: 5px;
        margin-bottom: -55px;
        border-radius: 50%;
        
    }
    
    .nav{
        padding: 1PX 20px 20px 128px;
        margin-top: -35px;
        margin-left: 7px;

        
    }
    
    
    .navPalabras{
        display: flex;
        float:inline-start;
        padding-right: 510px;
        
            
    }
    
    .nav a{
        padding-right: 20px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 10px; 
       }
.nav ul{
    text-decoration: none;
    list-style-type: none;
}
.nav li{
    text-decoration: none;
}
.nav a{
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font: bold;
    color: #FAF0Ca;
    font-size: medium;
    font-weight: bolder;
    transition: all 0.3s;

}
.nav a:hover{
    background-color: #f4d35e;
    border-radius: 50px;
    
}
  
 
.ceramicaTitulo{
        position: absolute;
        color: aliceblue;
        margin: -222px -22px 222px 131px;
        font-weight: bolder;
        font-size: 37px;
        text-shadow: 0 0 10px black;
        transition: all .3s ease-in-out;
}
.ceramicaTitulo:hover{
        transform: scale(1.1);
}

.almohadonTitulo{
        position: absolute;
        color: aliceblue;
        margin: -222px -22px 222px 83px;
        font-weight: bolder;
        font-size: 37px;
        text-shadow: 0 0 10px black;
        transition: all .3s ease-in-out;
}
    .almohadonTitulo:hover{
        transform: scale(1.1);
    }

.tamañoCarousel{
    width: 550px;
    margin-bottom: 50px;
    padding-left: 0px;
    box-shadow: 5px 8px 12px rgb(147, 147, 202);
    border-radius: 5px;

}
.bannercontainer{
    display: flex;
    position: relative;
    padding: 44px 39px -5px 12px ;
    margin: -27px 340px 67px 176px;

}
    .banner{
        width: 290px;
        height: 252px;
        border-radius: 5px;
        padding-left: 0px;
        box-shadow: 5px 8px 12px rgb(147, 147, 202);
    }

       
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:rgb(252, 250, 247);
    padding-top: 50px;
    margin-top: 0px;
    padding-left: 31px;
    padding-bottom: 50px;
    padding-right: 100px;
}
.novedades{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: #FAF0Ca;
    text-shadow: 0 0 10px black;
    position: absolute;
    padding-bottom: 20px;
    padding-right: 650px;
    padding-top: 20px;
    margin: -101px 200px 200px;
    padding-left: 202px;
    margin-left: -54px;
    font-weight: bolder;
}
figcaption{
    position: absolute;
    
    }
    .remera{
    width: 268px;
    height: 191px;
    position: absolute;
    padding-right: 50px;
    margin-right: 50px;
    border-right: 2px;
    
}
.remeratitle{
    padding: 196px 250px -1px;
    font-weight: bolder;
    margin-left: 238px;
    margin-top: 195px;
}

.polimero{
    width: 198px;
    height: 191px;
    padding-right: 55px;
    margin-right: 34px;
    border-right: 2px;
    border-color: black;
    border-right-style: groove;
}
.polimeroTitle{
    padding: 196px 0px 100px;
    font-weight: bolder;
}    

.mate{
    width: 198px;
    height: 177px;
    padding-right: 27px;
    margin-right: 72px;
    border-right: 2px;
    border-color: black;
    border-right-style: groove; 
    margin-top: 50px;

     }


.mateTitle{
    padding: 447px 0px 100px;
    margin-left: -20px;
    font-weight: bolder;
}
.jarro{
    width: 173px;
    height: 200x;
    padding-right: 27px;
    margin-right: 72px;
    margin-top: -228px;
    margin-left: 265px;
}
.jarroTitle{
    padding: 444px 285px 100px;
    margin-right: 30px;
    font-weight: bolder;
    
}


    footer{
            padding: 28px;
            background: rgb(46,47,91);
            background: linear-gradient(94deg, rgba(46,47,91,1) 52%, rgba(80,85,129,1) 100%);
            display: flex;
            justify-content: flex-end;
            
        }

    .iconos{
            display: flex;
            flex-direction: row;
            width: 25px;
            height: 25px;
            justify-content: flex-end;
            
        }
    
    .iconFacebook{
            margin-right: 15px;
        }
        
    .iconwhatsapps{
            margin-right: 15px;
        }
    .iconInstagram{
        margin-right: 30px;
    }
.iconoChoqueFooter{
    width: 65px;
    height: 60px;
    display: flex;
    padding: 0px 5px -18px 135px;
    margin-left: 50px;
    margin-right: 1145px;
}
.tituloFooterChoque{
    position: absolute;
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px 980px 10px 0PX ;
    font-weight: bolder;
    justify-self: center;

}

.containerHistoria{
    display: flex;
    justify-content:center;
    align-items: space-around;
    margin-top: 40px;
    margin-bottom: 50px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);;
    border-radius: 50px 50px 50px 50px;
    padding: 20px 146px 20px 150px;
    margin-left: 18px;
    margin-right: 15px;
}
.imgHistoria{
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border-radius: 92px 92px 92px 92px;
}
.sobreNosotros{
    background-color: black;
    box-shadow: 0 0 10px black;
    align-content: center;
    justify-content: center;
    border-radius: 20px;
    margin-left: 36px;
    margin-top: -10px;
    margin-right: 13px;
    margin-bottom: 20px;

}
.tituloNosotros{
    position: absolute;
    margin-top: -10px;
    margin-left: 70px;
    border-radius: 30px 30px 30px 30px;
    color: #FAF0Ca;
    text-shadow: 0 0 10px black;
    font-size: medium;
    font-weight: bolder;
    background-color: lightpink;
    padding: 10px 30px 10px 30px;

}
.historiaEmprendimiento{
    padding-left: 70px;
    padding-right: 20px;
    color:#FAF0Ca;
    font-weight: bolder;
    padding-top: 50px;
    
}

.fondo{
    background-color: aliceblue;
}
.tienda{
    position: absolute;
    font-weight: bolder;
    width: 100vw;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: #FAF0Ca;
    text-shadow: 0 0 5px black;
    display: flex;
    padding: 12px 180px 21px 224px;
    margin-top: 10px;
    margin-bottom: 100px;
    
}

.containerTienda{
    background-color: antiquewhite;
    height: 1495px;
    width: 100vw;
    padding-top: 86px;
    padding-bottom: 100px;
    padding-left: 72px;
    display: grid;
    align-items: start; 
    grid-template-columns: repeat(2, 227px);
    grid-template-rows: repeat(5, 280px);
    padding-right: 300px;
    grid-template-areas: 
    "item1 item2"
    "item3 item4"
    "item5 item6"
    "item7 item8"
    "item9 item10"
    }
    
.item1{
    grid-area: item1;
    width: 200px;
    height: 200px;      
}

.img1{
    transition: all .2s ease-in-out;
    padding-bottom: 58px;
    margin-right: 27px;
    background-color: aliceblue;
       
}
.img1:hover{
    transform: scale(1.1);
}

.item2{
    grid-area: item2;
    width: 200px;
    height: 200px;
}


.item3{
    grid-area: item3;
    width: 200px;
    height: 200px;
}


.item4{
    grid-area: item4;
    width: 200px;
    height: 200px;
}

.item5{
    grid-area: item5;
    width: 200px;
    height: 200px;
}


.item6{
    grid-area: item6;
    width: 200px;
    height: 200px;
}


.item7{
    grid-area: item7;
    width: 200px;
    height: 200px;
}

.item8{
    grid-area: item8;
    width: 200px;
    height: 200px;
}

.item9{
    grid-area: item9;
    width: 200px;
    height: 200px;
}


.item10{
    grid-area: item9;
    width: 200px;
    height: 200px;
}
.img10{
    transition: all .2s ease-in-out;
    padding-bottom: 58px;
    margin-right: 27px;
    background-color: aliceblue;
       
}
.img10:hover{
    transform: scale(1.1);
}
figcaption{
    font-weight: bolder;
}
.clientes1{
    color:#FAF0Ca;
    text-shadow: 0 0 5px black;
    display: flex;
    justify-content: center;
    margin-left: -140px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    margin-top: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    font-family: 'Poppins', sans-serif; 
    font-weight: bolder;
    font-size: x-large;
}
.video{
    margin-left: 339px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
.containerForm{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #eeaeca;
    border: 10px;
}
.containerForm h2{
    color:#FAF0Ca;
    text-shadow: 0 0 5px black;
}
.form{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 20px;
    margin-right: 510px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    margin-left: 480px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.nombreText{
    margin-left: 70px;
    margin-top: 50px;
    margin-bottom: 10px;
    
}
.formContent{
    margin-left: 70px;
    margin-bottom: 10px;
}


.enviar{
    margin-left: 72px;
    margin-bottom: 70px;
}


@media  screen and (min-width: 576px) {
    .header{
        width: 100%;
       
    }
.logo img{
    width: 192px;
    height: 106px;
    padding-top: 17px;
    padding-left: 90px;
    margin-bottom: -55px;
    border-radius: 0;
    
}

.nav{
    padding: 10PX 80px 20px 128px;
    margin-top: -35px;
    margin-left: 50px;
    
    overflow: hidden;
    text-decoration: none;
    
}


.navPalabras{
    display: flex;
    float:inline-start;
    padding-right: 510px;
    justify-content: space-evenly;
    list-style-type: none;
    
    
    
}
.nav ul{
    text-decoration: none;
}
.nav li{
    text-decoration: none;
}
.nav a{
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font: bold;
    color: #FAF0Ca;
    font-size: medium;
    font-weight: bolder;
    

}

.logo{
    overflow: visible;
    padding-bottom: 30px;
    
}
.tamañoCarousel{
    width: 900px;
    padding-left: 20px;
    margin-bottom: 40px;
}
 .ceramicaTitulo{
    margin: -421px 2px 414px 297px;
 }   
 .almohadonTitulo{
    margin: -421px 2px 414px 297px;
 }
 .bannercontainer{
    display: flex;
    position: relative;
    padding: 0px 30px 100px 50px ;
    margin: -709px 300px 100px 856px;

}

 .novedades{
    padding-left: 610px;
 }
 .section{
    padding-left: 130px;
    flex-wrap: nowrap;
 }
.remera{
    position: none;
}
.remeratitle{
    padding: 196px 250px 120px;
    margin-left: 0px;
    margin-top: 0px;
}
.mate{
    width: 251px;
    height: 191px;
    padding-right: 44px;
    margin-right: 50px;
    border-right: 2px;
    margin-left: 317px;
    margin-top: 0px;
    border-color: black;
    border-right-style: groove;
    
}
.mateTitle{
    padding: 196px 559px 100px;
    margin-left: 0px;
}
.jarro{
    width: 173px;
    height: 200x;
    padding-right: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
}
.jarroTitle{
    padding: 186px 866px 100px;
    margin-right: 100px;
    
    }

    .banner{
        width: 409px;
        height: 520px;
        }
    .bannercontainer{
            display: flex;
            position: relative;
            padding: 12px 30px 100px 50px ;
            margin: -709px 300px 100px 856px;
        
        }
        .iconInstagram{
            margin-right: 0px;
        }
        .containerTienda{
            background-color: #FAF0Ca;
            height: 110vh;
            width: 100vw;
            padding-top: 107px;
            padding-bottom: 10px;
            padding-left: 150px;
            display: grid;
            align-items: start; 
            grid-template-columns: repeat(5, 227px);
            grid-template-rows: repeat(2, 280px);
            padding-right: 300px;
            grid-template-areas: 
            "item1 item2 item3 item4 item5"
            "item6 item7 item8 item9 item10"
            
            
            }
            .tienda{
                padding: 12px 199px 34px 599px;
            }

            .containerHistoria{
                display: flex;
                justify-content:center;
                align-items: space-around;
                margin-top: 40px;
                margin-bottom: 50px;
                background: rgb(238,174,202);
                background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);;
                border-radius: 50px 50px 50px 50px;
                padding: 20px 146px 20px 150px;
                margin-left: 100px;
                margin-right: 100px;
            }
            .imgHistoria{
                width: 200px;
                height: 200px;
                margin-right: 20px;
                border-radius: 92px 92px 92px 92px;
            }
            .sobreNosotros{
                background-color: black;
                box-shadow: 0 0 10px black;
                align-content: center;
                justify-content: center;
                border-radius: 20px;
                margin-left: 450px;
                margin-top: -10px;
                margin-right: 400px;
                margin-bottom: 20px;
            
            }
            .tituloNosotros{
                position: absolute;
                margin-top: -10px;
                margin-left: 70px;
                border-radius: 30px 30px 30px 30px;
                color: #FAF0Ca;
                text-shadow: 0 0 10px black;
                font-size: medium;
                font-weight: bolder;
                background-color: lightpink;
                padding: 10px 30px 10px 30px;
            
            }
            .historiaEmprendimiento{
                padding-left: 70px;
                padding-right: 20px;
                color:#FAF0Ca;
                font-weight: bolder;
                padding-top: 50px;
                
            }

}
/* la idea es agregar otra mediaquery de 768 px para generar un mejor breakpoint entre las dimensiones pero por cuestion de tiempo no pude agregarla en esta entrega */
