*{
    margin: 0%;
    padding: 0%;
    
}
@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@600 & display=swap');

html{
    font-family: 'Poppins', sans-serif;
}
.header{
    background-color: black;
    max-width: 100vw;
}
body{
    background-color: antiquewhite;
    height: 100vh;
    width: 100vw;
    
}
.Logo{
    overflow: visible;
    padding-bottom: 30px;
    
}

.Logo img{
        width: 105px;
        height: 84px;
        padding-top: -56px;
        padding-left: 5px;
        margin-bottom: -55px;
        
    }
    
    .Nav{
        padding: 1PX 80px 20px 128px;
        margin-top: -35px;
        margin-left: -47px;

        
    }
    
    
    .NavPalabras{
        display: flex;
        float:inline-start;
        padding-right: 510px;
        
            
    }
    
    .Nav a{
        padding-right: 20px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 10px; 
       }
.Nav ul{
    text-decoration: none;
    list-style-type: none;
}
.Nav li{
    text-decoration: none;
}
.Nav a{
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font: bold;
    color: aliceblue;
    font-size: medium;
    font-weight: bolder;
    transition: all 0.3s;

}
.Nav a:hover{
    background-color: rgb(131, 113, 153);
    border-radius: 50px;
    
}
    .Input1{
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        margin-top: -14px;
        float: right;
        }
    
    .InputBusqueda{
            padding-left: 12px;
            width: 80px;
            height: 20px;
    }
 
.ceramicaTitulo{
        position: absolute;
        color: aliceblue;
        margin: -222px -22px 222px 131px;
        font-weight: bolder;
        font-size: 37px;
        text-shadow: 0 0 10px black;
        transition: all .3s ease-in-out;
}
.ceramicaTitulo:hover{
        transform: scale(1.1);
}

.almohadonTitulo{
        position: absolute;
        color: aliceblue;
        margin: -222px -22px 222px 83px;
        font-weight: bolder;
        font-size: 37px;
        text-shadow: 0 0 10px black;
        transition: all .3s ease-in-out;
}
    .almohadonTitulo:hover{
        transform: scale(1.1);
    }

.TamañoCarousel{
    width: 550px;
    margin-bottom: 50px;
    padding-left: 0px;
    box-shadow: 5px 8px 12px rgb(147, 147, 202);
    border-radius: 5px;

}
.bannercontainer{
    display: flex;
    position: relative;
    padding: 44px 39px -5px 12px ;
    margin: -27px 340px 67px 176px;

}
    .banner{
        width: 290px;
        height: 252px;
        border-radius: 5px;
        padding-left: 0px;
        box-shadow: 5px 8px 12px rgb(147, 147, 202);
    }

       
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:rgb(252, 250, 247);
    padding-top: 50px;
    margin-top: 0px;
    padding-left: 31px;
    padding-bottom: 50px;
    padding-right: 100px;
}
.novedades{
    background-color: rgb(12, 13, 14);
    color: aliceblue;
    position: absolute;
    padding-bottom: 20px;
    padding-right: 650px;
    padding-top: 20px;
    margin: -101px 200px 200px;
    padding-left: 202px;
    margin-left: -54px;
    font-weight: bolder;
}
figcaption{
    position: absolute;
    
    }
    .remera{
    width: 268px;
    height: 191px;
    position: absolute;
    padding-right: 50px;
    margin-right: 50px;
    border-right: 2px;
    
}
.remeratitle{
    padding: 196px 250px -1px;
    font-weight: bolder;
    margin-left: 238px;
    margin-top: 195px;
}

.polimero{
    width: 198px;
    height: 191px;
    padding-right: 55px;
    margin-right: 34px;
    border-right: 2px;
    border-color: black;
    border-right-style: groove;
}
.polimeroTitle{
    padding: 196px 0px 100px;
    font-weight: bolder;
}    

.mate{
    width: 198px;
    height: 177px;
    padding-right: 27px;
    margin-right: 72px;
    border-right: 2px;
    border-color: black;
    border-right-style: groove; 
    margin-top: 50px;

     }


.mateTitle{
    padding: 447px 0px 100px;
    margin-left: -20px;
    font-weight: bolder;
}
.jarro{
    width: 173px;
    height: 200x;
    padding-right: 27px;
    margin-right: 72px;
    margin-top: -228px;
    margin-left: 265px;
}
.jarroTitle{
    padding: 444px 285px 100px;
    margin-right: 30px;
    font-weight: bolder;
    
}


    footer{
            padding: 28px;
            background-color: black;
            display: flex;
            justify-content: flex-end;
            
        }

    .iconos{
            display: flex;
            flex-direction: row;
            width: 25px;
            height: 25px;
            justify-content: flex-end;
            
        }
    
    .iconFacebook{
            margin-right: 15px;
        }
        
    .iconwhatsapps{
            margin-right: 15px;
        }
    .iconInstagram{
        margin-right: 30px;
    }
.iconoChoqueFooter{
    width: 65px;
    height: 60px;
    display: flex;
    padding: 0px 5px -18px 135px;
    margin-left: 50px;
    margin-right: 1145px;
}
.tituloFooterChoque{
    position: absolute;
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px 980px 10px 0PX ;
    font-weight: bolder;
    justify-self: center;

}

.containerHistoria{
    display: flex;
    justify-content:center;
    align-items: space-around;
    margin-top: 70px;
    margin-bottom: 50px;
    background-color:rgb(211, 177, 243);
    border-radius: 50px 50px 50px 50px;
    padding: 20px 146px 20px 150px;
    margin-left: 100px;
    margin-right: 100px;
}
.imgHistoria{
    width: 200px;
    height: 200px;
    margin-right: 20px;
    border-radius: 92px 92px 92px 92px;
}
.sobreNosotros{
    background-color: lightslategray;
    align-content: center;
    justify-content: center;
}
.tituloNosotros{
    position: absolute;
    border-radius: 30px 30px 30px 30px;
    background-color: lightpink;
    padding: 5px 5px 5px 5px;

}
.historiaEmprendimiento{
    font-weight: bolder;
    padding-top: 50px;
    
}

.fondo{
    background-color: aliceblue;
}
.Tienda{
    position: absolute;
    font-weight: bolder;
    color: rgb(12, 12, 12);
    display: flex;
    padding: 12px 180px 34px 190px;
    
}

.containerTienda{
    background-color: antiquewhite;
    height: 140vh;
    width: 100vw;
    padding-top: 73px;
    padding-bottom: 10px;
    padding-left: 40px;
    display: grid;
    align-items: start; 
    grid-template-columns: repeat(2, 227px);
    grid-template-rows: repeat(4, 280px);
    padding-right: 300px;
    grid-template-areas: 
    "item1 item2"
    "item3 item4"
    "item5 item6"
    "item7 item8"
    }
    
.item1{
    grid-area: item1;
    width: 200px;
    height: 200px;      
}

.img1{
    transition: all .2s ease-in-out;
    padding-bottom: 58px;
    margin-right: 27px;
    background-color: aliceblue;
       
}
.img1:hover{
    transform: scale(1.1);
}

.item2{
    grid-area: item2;
    width: 200px;
    height: 200px;
}
.img2{
    transition: all .2s ease-in-out;
    padding-bottom: 58px;
    margin-right: 27px;
    background-color: aliceblue;
       
}
.img2:hover{
    transform: scale(1.1);
}

.item3{
    grid-area: item3;
    width: 200px;
    height: 200px;
}
.img3{
    transition: all .2s ease-in-out;
    padding-bottom: 58px;
    margin-right: 27px;
    background-color: aliceblue;
       
}
.img3:hover{
    transform: scale(1.1);
}


.item4{
    grid-area: item4;
    width: 200px;
    height: 200px;
}
.img4{
    transition: all .2s ease-in-out;
    padding-bottom: 58px;
    margin-right: 27px;
    background-color: aliceblue;
       
}
.img4:hover{
    transform: scale(1.1);
}

.item5{
    grid-area: item5;
    width: 200px;
    height: 200px;
}
.img5{
    transition: all .2s ease-in-out;
    padding-bottom: 58px;
    margin-right: 27px;
    background-color: aliceblue;
       
}
.img5:hover{
    transform: scale(1.1);
}

.item6{
    grid-area: item6;
    width: 200px;
    height: 200px;
}
.img6{
    transition: all .2s ease-in-out;
    padding-bottom: 58px;
    margin-right: 27px;
    background-color: aliceblue;
       
}
.img6:hover{
    transform: scale(1.1);
}

.item7{
    grid-area: item7;
    width: 200px;
    height: 200px;
}
.img7{
    transition: all .2s ease-in-out;
    padding-bottom: 58px;
    margin-right: 27px;
    background-color: aliceblue;
       
}
.img7:hover{
    transform: scale(1.1);
}

.item8{
    grid-area: item8;
    width: 200px;
    height: 200px;
}
.img8{
    transition: all .2s ease-in-out;
    padding-bottom: 58px;
    margin-right: 27px;
    background-color: aliceblue;
       
}
.img8:hover{
    transform: scale(1.1);
}

.item9{
    grid-area: item9;
    width: 200px;
    height: 200px;
}
.img9{
    transition: all .2s ease-in-out;
    padding-bottom: 58px;
    margin-right: 27px;
    background-color: aliceblue;
       
}
.img9:hover{
    transform: scale(1.1);
}

.item10{
    grid-area: item9;
    width: 200px;
    height: 200px;
}
.img10{
    transition: all .2s ease-in-out;
    padding-bottom: 58px;
    margin-right: 27px;
    background-color: aliceblue;
       
}
.img10:hover{
    transform: scale(1.1);
}
figcaption{
    font-weight: bolder;
}
.Clientes1{
    color: black;
    display: flex;
    justify-content: center;
    margin-left: -140px;
    background-color: rgb(211, 177, 243);
    padding-bottom: 30px;
    padding-top: 30px;
    font-family: 'Poppins', sans-serif; 
    font-weight: bolder;
    font-size: x-large;
}
.Video{
    margin-left: 339px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
.containerForm{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: rgb(211, 177, 243);
    border: 10px;
}

.Nombre{
    margin-left: 570px;
    margin-top: 50px;
    margin-bottom: 10px;
}
.email{
    margin-left: 570px;
    margin-bottom: 10px;
}
.telefono{
    margin-left: 570px;
    margin-bottom: 10px;
}
.Asunto{
    margin-left: 570px;
    margin-bottom: 10px;
}
.mensaje{
    margin-left: 570px;
    margin-bottom: 10px;
}

.Enviar{
    margin-left: 570px;
    margin-bottom: 70px;
}


@media  screen and (min-width: 576px) {
    .header{
        width: 100%;
    }
.Logo img{
    width: 192px;
    height: 106px;
    padding-top: 17px;
    padding-left: 90px;
    margin-bottom: -55px;
    
}

.Nav{
    padding: 10PX 80px 20px 128px;
    margin-top: -35px;
    margin-left: 50px;
    
    overflow: hidden;
    text-decoration: none;
    
}


.NavPalabras{
    display: flex;
    float:inline-start;
    padding-right: 510px;
    justify-content: space-evenly;
    list-style-type: none;
    
    
    
}
.Nav ul{
    text-decoration: none;
}
.Nav li{
    text-decoration: none;
}
.Nav a{
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font: bold;
    color: aliceblue;
    font-size: medium;
    font-weight: bolder;
    

}
.Input1{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: -40px;
    float: right;
    }

.InputBusqueda{
        border-radius: 20px;
        
        padding-left: 10px;
        width: 122px;
        height: 20px;
}
.logo{
    overflow: visible;
    padding-bottom: 30px;
    
}
.TamañoCarousel{
    width: 900px;
    padding-left: 20px;
}
 .ceramicaTitulo{
    margin: -421px 2px 414px 297px;
 }   
 .almohadonTitulo{
    margin: -421px 2px 414px 297px;
 }
 .bannercontainer{
    display: flex;
    position: relative;
    padding: 0px 30px 100px 50px ;
    margin: -709px 300px 100px 856px;

}

 .novedades{
    padding-left: 610px;
 }
 .section{
    padding-left: 130px;
    flex-wrap: nowrap;
 }
.remera{
    position: none;
}
.remeratitle{
    padding: 196px 250px 120px;
    margin-left: 0px;
    margin-top: 0px;
}
.mate{
    width: 251px;
    height: 191px;
    padding-right: 44px;
    margin-right: 50px;
    border-right: 2px;
    margin-left: 317px;
    margin-top: 0px;
    border-color: black;
    border-right-style: groove;
    
}
.mateTitle{
    padding: 196px 559px 100px;
    margin-left: 0px;
}
.jarro{
    width: 173px;
    height: 200x;
    padding-right: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
}
.jarroTitle{
    padding: 186px 866px 100px;
    margin-right: 100px;
    
    }

    .banner{
        width: 409px;
        height: 520px;
        }
    .bannercontainer{
            display: flex;
            position: relative;
            padding: 0px 30px 100px 50px ;
            margin: -709px 300px 100px 856px;
        
        }
        .iconInstagram{
            margin-right: 0px;
        }
        .containerTienda{
            background-color: antiquewhite;
            height: 100vh;
            width: 100vw;
            padding-top: 73px;
            padding-bottom: 10px;
            padding-left: 150px;
            display: grid;
            align-items: start; 
            grid-template-columns: repeat(5, 227px);
            grid-template-rows: repeat(2, 280px);
            padding-right: 300px;
            grid-template-areas: 
            "item1 item2 item3 item4 item5"
            "item6 item7 item8 item9 item10"
            
            
            }
            .Tienda{
                padding: 12px 199px 34px 599px;
            }

}
/* la idea es agregar otra mediaquery de 768 px para generar un mejor breakpoint entre las dimensiones pero por cuestion de tiempo no pude agregarla en esta entrega */
