
footer{
    width: 100%;
        padding: 28px;
        background: rgb(46,47,91);
        background: $gradiente1;
        display: flex;
        justify-content: flex-end;
        
        }
         .iconoChoqueFooter{
width: 65px;
height: 60px;
display: flex;
padding: 0px 5px -18px 135px;
margin-left: 50px;
margin-right: 1145px;

}
.tituloFooterChoque{
position: absolute;
color: aliceblue;
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
padding: 20px 980px 10px 0PX ;
font-weight: bolder;
justify-self: center;

}

.iconos{
        display: flex;
        flex-direction: row;
        width: 25px;
        height: 25px;
        justify-content: flex-end;
        
        }
        .iconFacebook{
        margin-right: 15px;
        
        }
        .iconwhatsapps{
        margin-right: 15px; 
        
        }
        .iconInstagram{
    margin-right: 30px;
}





    



