.containerForm{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: $colorGradiente2;
    border: 10px;
     h1{
    color:$color1;
    text-shadow: 0 0 5px black;
}
}

.form{
    background: $colorGradiente2;
    background: $gradiente2;
    border-radius: 20px;
    margin-right: 510px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 321px;
    margin-left: 27px;
    margin-top: 20px;
    margin-bottom: 62px;
    .nombreText{
    margin-left: 70px;
    margin-top: 50px;
    margin-bottom: 10px;
    
}
}

.formContent{
    margin-left: 70px;
    margin-bottom: 10px;
}


.enviar{
    margin-left: 72px;
    margin-bottom: 70px;
}

