@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@600 & display=swap');
*{
    margin: 0%;
    padding: 0%;
    
}
html{
    font-family: 'Poppins', sans-serif;
}
.header{
    background: rgb(46,47,91);
background:$gradiente1;
    max-width: 100vw;
}
body{
    background-color: $color1;
    height: 100vh;
    width: 100vw;
    
}