@media screen and (min-width: 523px) and (max-width: 767px) {
    header{
      width: 100%;
    }
    body{
      width: 100%;
    }
    footer{
      width: 100%;
    }
  
    .tamañoCarousel {
      width: 570px;
      padding-left: 10px;
      margin-bottom: 40px;
    }
    .ceramicaTitulo {
      margin: -275px 2px 414px 207px;
      font-size: 37px;
    }
    .almohadonTitulo {
      margin: -274px 2px 414px 158px;
      font-size: 37px;
    }
    .bannercontainer {
      display: flex;
      position: relative;
      padding: 44px 39px -5px 12px;
      margin: -30px 200px 76px 180px;
    }
    .bannercontainer img{
      width: 296px;
      height: 424px;
    }
    .novedades {
      width: 100%;
      padding-left: 220px;
      margin-top: -106px;
      padding-right: 197px;
      margin-right: 0px;
    
    }
    .section {
      padding-left: 130px;
      flex-wrap: nowrap;
      padding-bottom: 72px;
    }
    .remera {
      position: none;
      width: 193px;
height: 162px;
position: absolute;
padding-right: 50px;
margin-right: 0px;
border-right: 2px;
    }
    .remeratitle {
      padding: 196px 190px 120px;
      margin-left: 0px;
      margin-top: 0px;
    }

    .polimero{
      width: 188px;
      height: 164px;
      padding-right: 55px;
      margin-right: 34px;
      border-right: 2px;
      border-color: black;
      border-right-style: groove;
      }
      .polimeroTitle{
      padding: 196px 0px 100px;
      font-weight: bolder;
      }
    .mate {
      width: 181px;
      height: 156px;
      padding-right: 44px;
      margin-right: 50px;
      border-right: 2px;
      margin-left: -215px;
      margin-top: 274px;
      border-color: black;
      border-right-style: groove;
    }
    .mateTitle {
      padding: 437px 3px 100px;
      margin-left: 0px;
      font-size: 13px;
    }
    .jarro {
      width: 134px;
      height: 200x;
      padding-right: 0px;
      margin-right: 0px;
      margin-top: 267px;
      margin-left: 0px;
    }
    .jarroTitle {
      padding: 438px 144px 100px 210px;
      margin-right: 0px;
      font-size: 13px;
    }
    .banner {
      width: 409px;
      height: 520px;
   
   }
    .iconoChoqueFooter {
      margin-right: 1145px;
    }
    .nuestrasOfertas {
      width: 100%;
      padding-left: 167px;
      padding-right: 216px;
      margin-right: 0px;
    }
    .posibilidadesContainer {
      background-color: white;
      padding-right: 360px;
    }
    .posibilidades {
      width: 576px;
      height: 238px;
      margin-bottom: 43px;
      padding-left: 28px;
    }
    .iconInstagram {
      margin-right: 0px;
    }
    .tienda {
      padding: 12px 180px 21px 224px;
    }
    .containerTienda {
      height: 1220px;
      padding-top: 100px;
      display: grid;
      justify-content: left;
      justify-items: start;
      grid-template-columns: repeat(3, 200px);
      grid-template-rows: repeat(4, 280px);
      padding-right: 300px;
      grid-template-areas: "item1 item2 item3" "item4 item5 item6" "item7 item8 item9" "item10 none none";
    }
    .item1 {
      width: 174px;
    }
    .item2 {
      width: 174px;
    }
    .item3 {
      width: 174px;
    }
    .item4 {
      width: 174px;
    }
    .item5 {
      width: 174px;
    }
    .item6 {
      width: 174px;
    }
    .item7 {
      width: 174px;
    }
    .item8 {
      width: 174px;
    }
    .item9 {
      width: 174px;
    }
    .item10 {
      width: 174px;
    }
    .containerHistoria {
      margin-left: 18px;
      margin-right: 15px;
    }
    .imgHistoria {
      width: 150px;
      height: 150px;
    }
    .sobreNosotros {
      border-radius: 20px;
      margin-left: 36px;
      margin-top: -10px;
      margin-right: 13px;
      margin-bottom: 20px;
    }
    .historiaEmprendimiento {
      padding-left: 70px;
      padding-right: 20px;
      color: #FAF0Ca;
      font-weight: bolder;
      padding-top: 50px;
    }
    .video {
      height: 623px;
      margin-left: 50px;
    }
    .form {
      padding-right: 361px;
      margin-left: 140px;
      margin-bottom: 62px;
    }
    .clientes1 {
      margin-left: 0px;
    }
  }
  @media all and (min-width: 767px) and (max-width: 1660px){

  
   
    .tamañoCarousel {
      width: 900px;
      padding-left: 20px;
      margin-bottom: 40px;
    }
    .ceramicaTitulo {
      margin: -421px 2px 414px 297px;
      font-size: 40px;
    }
    .almohadonTitulo {
      margin: -421px 2px 414px 297px;
      font-size: 40px;
    }
    .bannercontainer {
      display: flex;
      position: relative;
      padding: 0px 30px 100px 50px;
      margin: -709px 300px 100px 856px;
    }
    
    .section {
      padding-left: 130px;
      margin-right: 0px;
      flex-wrap: nowrap;
     padding-bottom: 50px;
    } 
    .novedades{
      padding-left: 610px;
      padding-right: 530px;
      margin-right: 0px;
    
    }
    .remera {
      width: 268px;
      height: 191px;
      position: absolute;
      margin-right: 50px;
      padding: -30px 200px 200px 100px;

    }
    .remeratitle {
      padding: 196px 250px 120px;
      margin-left: 0px;
      margin-top: 0px;
    }
    .polimero{
      width: 198px;
      height: 191px;
      padding-right: 55px;
      margin-right: 34px;
      border-right: 2px;
      border-color: black;
      border-right-style: groove;
      }
      .polimeroTitle{
      padding: 196px 0px 100px;
      font-weight: bolder;
      }    
      
    .mate {
      width: 251px;
      height: 191px;
      padding-right: 44px;
      margin-right: 50px;
      border-right: 2px;
      margin-left: 317px;
      margin-top: 0px;
      border-color: black;
      border-right-style: groove;
    }
    .mateTitle {
      padding: 196px 449px 100px;
      margin-left: 0px;
      padding-left: 560px;
    }
    .jarro {
      width: 173px;
      height: 200x;
      padding-right: 0px;
      margin-right: 0px;
      margin-top: 0px;
      margin-left: 0px;
    }
    .jarroTitle {
      padding: 195px 64px 100px;
      padding-left: 822px;
      margin-right: 100px;
    }
    .bannercontainer {
      display: flex;
      position: relative;
      padding: 12px 30px 100px 50px;
      margin: -709px 300px 100px 856px; 
      img{
      width: 409px;
      height: 520px;
    }
    }
    .nuestrasOfertas {
      padding-left: 605px;
      padding-right: 520px;
      margin-right: 0px;
    }
    .posibilidadesContainer {
      background-color: white;
      padding-right: 1038px;
      
    }
    .posibilidades {
      width: 1083px;
      height: 264px;
      margin-bottom: 20px;
      padding-left: 200px;
    }
    .iconInstagram {
      margin-right: 0px;
    }
    .containerTienda {
      background-color: #FAF0Ca;
      height: 120vh;
      width: 100vw;
      padding-top: 130px;
      padding-bottom: 10px;
      padding-left: 150px;
      margin-bottom: 0px;
      display: grid;
      align-items: start;
      grid-template-columns: repeat(5, 227px);
      grid-template-rows: repeat(2, 280px);
      padding-right: 300px;
      grid-template-areas: 
      "item1 item2 item3 item4 item5" 
      "item6 item7 item8 item9 item10";
    }
    .tienda {
      padding: 12px 199px 34px 250px;
      justify-content: none;

    }
    .img1 figcaption{
      font-size: 16px;
    }
    .img1 p{
      margin-left:47px;

    }
    
.item1{
  grid-area: item1;
  width: 200px;
  height: 200px;      
}

.item2{
  grid-area: item2;
  width: 200px;
  height: 200px;
}


.item3{
  grid-area: item3;
  width: 200px;
  height: 200px;
}


.item4{
  grid-area: item4;
  width: 200px;
  height: 200px;
}

.item5{
  grid-area: item5;
  width: 200px;
  height: 200px;
}


.item6{
  grid-area: item6;
  width: 200px;
  height: 200px;
}


.item7{
  grid-area: item7;
  width: 200px;
  height: 200px;
}

.item8{
  grid-area: item8;
  width: 200px;
  height: 200px;
}

.item9{
  grid-area: item9;
  width: 200px;
  height: 200px;
}


.item10{
  grid-area: item9;
  width: 200px;
  height: 200px;
  
  }
    .containerHistoria {
      display: flex;
      justify-content: center;
      align-items: space-around;
      margin-top: 40px;
      margin-bottom: 50px;
      background: rgb(238, 174, 202);
      background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
      border-radius: 50px 50px 50px 50px;
      padding: 20px 146px 20px 150px;
      margin-left: 100px;
      margin-right: 100px;
    }
    .imgHistoria {
      width: 200px;
      height: 200px;
      margin-right: 20px;
      border-radius: 92px 92px 92px 92px;
    }
    .sobreNosotros {
      background-color: black;
      box-shadow: 0 0 10px black;
      align-content: center;
      justify-content: center;
      border-radius: 20px;
      margin-left: 450px;
      margin-top: -10px;
      margin-right: 400px;
      margin-bottom: 20px;
    }
    .tituloNosotros {
      position: absolute;
      margin-top: -10px;
      margin-left: 70px;
      border-radius: 30px 30px 30px 30px;
      color: #FAF0Ca;
      text-shadow: 0 0 10px black;
      font-size: medium;
      font-weight: bolder;
      background-color: lightpink;
      padding: 10px 30px 10px 30px;
    }
    .historiaEmprendimiento {
      padding-left: 70px;
      padding-right: 20px;
      color: #FAF0Ca;
      font-weight: bolder;
      padding-top: 50px;
    }
    .form {
      padding-right: 30px;
      margin-left: 480px;
      margin-bottom: 20px;
    }
    .video {
      height: 100vh;
      margin-left: 339px;
    }
    .video iframe{
      width: 700px;
      height: 500px;
    }
    .clientes1 {
      margin-left: -140px;
    }
  
  
  }