$gradiente1: linear-gradient(94deg, rgba(46,47,91,1) 52%, rgba(80,85,129,1) 100%);
$gradiente2: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
$colorGradiente2: rgb(238,174,202);
$color1: #FAF0Ca;